.img{
    max-width:200px;
}
#buttons{
    display: flex;
    justify-content: center;
    padding: 50px;
    gap: 100px;
    border-style: solid;
    border-radius: 25px;
    overflow: hidden;
    margin-left: 15%;
    margin-right: 15%;
    
    flex-wrap: wrap;
    flex-shrink: 1;
}
.rps{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 50px;
    
}
.header{
    text-align: center;
}
.user{
    max-width: 100px;
}
#result{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-shrink: 1;
    
}
#btn{
    border-radius: 0.5em;
    padding: 0.5em 2em;
    margin: 0.25em;
    font-size: 15px;
    outline: none;
    background: #e6e4e4;
    cursor: pointer;
}
#btn:hover{
    background: #817f7f;
}
.score{
    margin: auto 200px;
    display: flex;
    justify-content: space-around;
    font-size: 100px;
    font-weight: 700px;
    flex-wrap: wrap;
    
    
}

#output{
    text-align: center;
    font-size: 25px;
    font-weight: 700px;
}
#finalOutput{
    text-align: center;
    font-size: 40px;
    font-weight: 800px;
    color: rgb(204, 53, 78);
}
