.img{
    max-width:200px;
}
#buttons{
    display: flex;
    justify-content: center;
    padding: 100px;
    gap: 100px;
    
}
.rps{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 50px;
}
.header{
    text-align: center;
}